	h1{
		font-family: 'Helvetica';
		font-weight: lighter;
		font-size: 40px;
	}
	h1.title{
		margin: 10px 5px 0;
	}
	h3{
		font-family: 'Helvetica';
		font-weight: lighter;
		font-size: 20px;		
		opacity: 0.7;
	}

	body{
		background: url("../texture/texture-noise.png");
		/*background: #F5E1BD;*/
	}
	text,label{
		font-family: 'Helvetica';
		font-weight: lighter;
	}
	div.options{
		display: inline-block;
		float: left;
		margin:20px 10px 0 5px;
	}
	div.floors{
		display: flex;
		float: left;
		margin: -20px 17%;
	}
	input[type="text"] {
		display: block;
		margin: 0;
		width: 300px;
		font-family: sans-serif;
		font-size: 18px;
		appearance: none;
		box-shadow: none;
		border-radius: none;
	}
	input[type="text"]:focus {
		outline: none;
	}
	input[type="text"] {
		padding: 10px;
		border: solid 1px #c9c9c9;
		transition: border 0.3s;
	}
	input[type="text"]:focus,
	input[type="text"].focus {
		border: solid 1px #969696;
	}
	/*
	input[type="text"]{
		margin: 10px 0 -2px 1px;
		height: 36px;
		width: 280px;
	}*/
	label.radio{
		background-color:#9C3;
		opacity: 0.7;
		padding: 13px 33px;
		display: inline-block;
	}
	label.radio:hover{
		background-color:#9C3;
		opacity: 0.9;
		display: inline-block;
	}
	input[type=radio]{
		display:none;
		margin: 40px 20px;
	}
	input[type=radio]:checked + label{
		opacity: 1;
		background-color:#9C3;
		box-shadow: inset 0px 0px 1px #000;
	}
	.tooltip {
		font-family: 'Helvetica';
		font-weight: lighter;
	    pointer-events:none; /*let mouse events pass through*/
	    opacity:0;
	    transition: opacity 0.3s;
	}
	div.tooltip {
	    /*background: #cccccc;
	    border:solid gray;
	    */
	    width: 330px;
		display: inline-block;
		position: absolute;
		float: left;
		margin: 180px 0 0 0;
	    text-align:center;
	}

	div.tooltip td{
		text-align: center;
	}
	span#zone_name{
		font-size:30px;
		font-weight: normal;
		margin:0 0 10px 0;
	}
	span#total_wards,span#total_dwcc,span#min,span#avg,span#max,span#t_min,span#t_avg,span#t_max{
		font-size:25px;
		font-weight: normal;
	}
	div#source{
		font-size: 15px;
		font-style: oblique;
		float: left;
	}
	div.mapContainer{
		width:	800px;
		height: 600px;
		float: left;
	}
	.ui-autocomplete-category {
	    font-weight: bold;
	    padding: .2em .4em;
	    margin: .8em 0 .2em;
	    line-height: 1.5;
	}